h5#month-year {
    width:100%;
}

#calendar {
    border-collapse: collapse;
}

#calendar thead {
    border: 0;
}

#calendar th {
    display: inline-block;
    width: calc(100% / 7);
}

#calendar td {
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0 1px 1px 0;
    border-radius:0px;
    display: inline-block;
    width: calc(100% / 7);
}

#calendar tbody td:first-child {
    border-left-width: 1px;
}

#calendar tbody tr:first-child td {
    border-top-width: 1px;
}
@media screen and (min-width: 993px) {
  #calendar td {
      height: 80px;
      padding: 15px;
  }
}
@media screen and (max-width: 992px) {
  #calendar td {
      height: 50px;
      padding: 5px;
  }
}

.width-100 {
    width:100%;
}

.collapsible-body pre {
    font-size:8pt;
    margin:0;
    padding: 2rem;
}

.collapsible-body pre .code-highlight {
    background-color: #d0d0d0;
}

.collapsible-header .secondary-content i {
    margin: 0 0 0 1rem;
}

.collapsible-body div.row {
    margin:2rem;
    padding: 0;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  color: black;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow-y: auto; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.dropdown-list {
  overflow-y: auto;
  min-width: 400px; /* Changed this to accomodate content width */
  max-height: 340px;
  margin: 0;
}

.dropdown-content h5 {
  padding: 10px 15px;
}

.nav-badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    min-width: 3rem;
    padding: 4px 6px;
    margin-left: 5px;
}

.time-text {
    color: #7e838c;
    font-size: 0.9;
}

.collection .dropdown-element-new {
    background: #fff9db;
}

nav i.material-icons {
    height: inherit;
}

#notification-dropdown > h5 {
    display: inline;
}



#notification-dropdown > a {
    display: inline;
    color: #26a69a;
    float: right;
}

#notification-dropdown > div > a {
    color: #26a69a;
}

#notification-dropdown > a:hover {
    background: transparent;
    text-decoration: underline;
}

#notification-dropdown > h5 span.nav-badge {
    display: inline;
    padding: 6px;
    margin-left: 4px;
}

.report-item > div > p {
    padding: 20px 20px 0 20px;
}
.report-item > div > p:last-child {
    padding-bottom: 20px;
}
.missing-report-item > a {
    color: black;
}
.report-item-read {
    background: #98fb98;
}
.report-time {
    float: right;
    color: #7e838c;
    font-style: italic;
    font-size: 0.9em;
}

.day-wrapper {
    position:relative;
    min-height:100%;
}

.sprint-marks {
    position:absolute;
    bottom:0;
    min-width:100%;
}

.sprint-mark {
    width:10px;
    height:10px;
    margin:1px;
    float:right;
}

div > a.sprint-link {
    color:inherit;
    text-decoration:underline;
}

.report-read {
    background-color: #4caf50;
}

.report-not-read {
    background-color: #ffeb3b;
}

.report-read > .report-time, .report-not-read > .report-time {
    color: black;
}

.dashboard-notifications {
    overflow-y: auto;
    max-height: 150px;
}

.add-report p{
    padding-left: 20px;
}

.report-deadline-today {
    background-color: #fff176;
}

.report-deadline-reached {
    background-color: #e57373;
}

.report-deadline-reached .report-time, .report-deadline-today .report-time {
    color: black;
}

#upcoming-reports a {
    color: black;
}

table.highlight > tbody> tr > td {
    border-radius: 0px;
}
